<footer
  *transloco="let t"
  class="px-4 relative dark:bg-gray-800 dark:text-gray-100"
>
  <div
    class="container flex flex-col justify-between py-10 mx-auto space-y-8 lg:flex-row lg:space-y-0"
    bis_skin_checked="1"
  >
    <div class="lg:w-1/3" bis_skin_checked="1">
      <a
        rel="noopener noreferrer"
        href="#"
        class="flex justify-center space-x-3 lg:justify-start"
      >
        <div
          class="flex items-center justify-center w-20 h-20 rounded-full dark:bg-violet-400"
          bis_skin_checked="1"
        >
          <img src="../../assets/images/logo-b.png " alt="logo" />
        </div>
        <span class="self-center text-2xl">WICO TECHNOLOGY</span>
      </a>
    </div>
    <div
      class="grid grid-cols-2 text-sm gap-x-3 gap-y-8 lg:w-2/3 sm:grid-cols-4"
      bis_skin_checked="1"
    >
      <div class="space-y-3" bis_skin_checked="1">
        <h3 class="tracki uppercase font-bold dark:text-gray-50">
          {{ t("products.title") }}
        </h3>
        <ul class="space-y-1">
          <li>
            <a rel="noopener noreferrer" href="/home">{{ t("home.title") }}</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="/training">{{
              t("training.title")
            }}</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="/Contact">{{
              t("contact.title")
            }}</a>
          </li>
        </ul>
      </div>
      <div class="space-y-3" bis_skin_checked="1">
        <h3 class="tracki uppercase font-bold dark:text-gray-50">Company</h3>
        <ul class="space-y-1">
          <li>
            <a rel="noopener noreferrer" href="#">{{ t("privacy.title") }}</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="space-y-3" bis_skin_checked="1">
        <h3 class="uppercase font-bold dark:text-gray-50">Developers</h3>
        <ul class="space-y-1">
          <li>
            <a rel="noopener noreferrer" href="#">Public API</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="#">Documentation</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="#">Guides</a>
          </li>
        </ul>
      </div>
      <div class="space-y-3" bis_skin_checked="1">
        <div class="uppercase dark:text-gray-50 font-bold" bis_skin_checked="1">
          Social media
        </div>
        <div class="flex justify-start space-x-3" bis_skin_checked="1">
          <a
            rel="noopener noreferrer"
            href="#"
            title="Facebook"
            class="flex items-center p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 32 32"
              class="w-5 h-5 fill-current"
            >
              <path
                d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z"
              ></path>
            </svg>
          </a>
          <a
            rel="noopener noreferrer"
            href="#"
            title="Twitter"
            class="flex items-center p-1"
          >
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 fill-current"
            >
              <path
                d="M23.954 4.569a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.061a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.937 4.937 0 004.604 3.417 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 002.46-2.548l-.047-.02z"
              ></path>
            </svg>
          </a>
          <a
            rel="noopener noreferrer"
            href="#"
            title="LinkedIn"
            class="flex items-center p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              fill="currentColor"
              class="w-5 h-5 fill-current"
            >
              <path
                d="M27.263 27.269h-4.739v-7.425c0 -1.771 -0.036 -4.049 -2.469 -4.049 -2.471 0 -2.848 1.927 -2.848 3.919v7.556H12.468V12h4.552v2.081h0.061c0.636 -1.2 2.183 -2.467 4.493 -2.467 4.801 0 5.689 3.16 5.689 7.273v8.381zM7.116 9.911a2.749 2.749 0 0 1 -2.751 -2.753 2.752 2.752 0 1 1 2.751 2.753zm2.376 17.359H4.74V12h4.752v15.269zM29.633 0H2.361C1.056 0 0 1.032 0 2.305v27.389C0 30.969 1.056 32 2.361 32h27.268C30.933 32 32 30.969 32 29.695V2.305C32 1.032 30.933 0 29.629 0h0.004z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-6 text-sm text-center dark:text-gray-400" bis_skin_checked="1">
    {{ t("wicoCopyright.title") }}
  </div>
</footer>
