<div id="home" class="h-screen flex flex-col border-b border-b-gray-400">
  <div
    class="relative overflow-hidden h-screen bg-cover bg-no-repeat shadow-2xl shadow-gray-600"
    style="
      background-position: 50%;
      background-image: url('../../assets/images/slider1.jfif');
    "
  >
    <!-- shadow-indigo-500/50 -->
    <div
      class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[#37517eaf] bg-fixed"
    >
      <div
        class="flex h-full items-center justify-center px-6 text-center text-white md:px-12 mt-8 mb-8 text-6xl tracking-tight md:text-6xl xl:text-6xl"
      >
        <h1>
          <span class="font-extrabold mb-6 text-gray-100">WICO</span>
          <div class="type-title"></div>
        </h1>
      </div>
    </div>
  </div>
</div>
