<div
  id="training"
  class="bg-white md:pb-[104px] pb-[96px] flex flex-col md:mt-16 mt-12"
>
  <div
    class="relative animate-fade-up"
    [ngClass]="{
      'bg-white md:pb-[104px] pb-[96px] flex flex-col md:mt-20 mt-20':
        activeSection === 'training'
    }"
  >
    <div class="text-center">
      <h2
        class="text-4xl tracking-tight drop-shadow-lg shadow-white text-[#37517e] sm:text-6xl"
        [ngClass]="{ 'mb-10': activeSection === 'training' }"
      >
        Formation
      </h2>
    </div>
    <div class="relative items-center justify-center">
      <div *ngIf="!routpath" class="flex flex-wrap items-center justify-center">
        <app-card
          *ngFor="let form_info of formationdetails"
          [form_info]="form_info"
        ></app-card>
      </div>
      <div *ngIf="routpath">
        <div class="swiper">
          <div
            #swiperContainer
            class="swiper-container mx-auto max-w-[80rem] rounded-xl"
          >
            <div class="swiper-wrapper my-5">
              <app-card
                class="swiper-slide px-2"
                *ngFor="let form_info of formationdetails"
                [form_info]="form_info"
              ></app-card>
            </div>

            <!-- Add Navigation -->
            <div class="swiper-button-next" (click)="goToNextSlide()"></div>
            <div class="swiper-button-prev" (click)="goToPrevSlide()"></div>
          </div>
        </div>

        <div
          class="absolute w-full items-center justify-center text-center rounded-full mx-auto"
        >
          <button
            class="flex-1 md:text-xl bottom-0 h-10 bg-white px-3 py-1 rounded-full border-3 border-blue-500 p-1 shadow-lg"
          >
            <a
              (click)="goToTrainingPage()"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Montre plus
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
