<div *transloco="let t" id="training" class="bg-white pb-24 flex flex-col">
  <div class="relative animate-fade-up">
    <div class="p-6 text-center">
      <h2
        class="text-4xl tracking-tight drop-shadow-lg shadow-white text-[#37517e] sm:text-6xl mb-5 mt-24"
      >
        {{ t("training.title") }}
      </h2>
    </div>
    <div class="relative items-center justify-center">
      <div *ngIf="!routpath" class="flex flex-wrap items-center justify-center">
        <app-card
          *ngFor="let form_info of formationdetails"
          [form_info]="form_info"
        ></app-card>
      </div>
      <div *ngIf="routpath">
        <div class="swiper">
          <div
            #swiperContainer
            class="swiper-container mx-auto max-w-[80rem] rounded-xl flex items-center justify-center"
          >
            <div class="swiper-wrapper">
              <app-card
                class="swiper-slide"
                *ngFor="let form_info of formationdetails"
                [form_info]="form_info"
              ></app-card>
            </div>

            <!-- Add Navigation -->
            <div class="swiper-button-next" (click)="goToNextSlide()"></div>
            <div class="swiper-button-prev" (click)="goToPrevSlide()"></div>
          </div>
        </div>

        <div
          class="absolute w-full items-center justify-center text-center rounded-full mx-auto"
        >
          <button
            class="flex-1 md:text-xl bottom-0 h-10 bg-white px-3 py-1 rounded-full border-3 border-blue-500 p-1 shadow-lg"
          >
            <a
              routerLink="/training"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              {{ t("Show_More.title") }}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
