<div
  (click)="openPopup(form_info)"
  class="flex transform cursor-pointer transition duration-500 hover:scale-110 relative max-w-[24rem] mx-3 my-4 flex-col overflow-hidden rounded-xl border-2 shadow-sm bg-white bg-clip-border text-gray-700"
>
  <div
    class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-none shadow-none bg-clip-border"
  >
    <img class="h-52 w-full" [src]="form_info.path" alt="" />
  </div>
  <div class="p-6">
    <h4
      class="block text-2xl antialiased leading-snug tracking-normal text-blue-gray-900"
    >
      {{ form_info.title }}
    </h4>
    <p
      class="line-clamp-4 mt-3 text-xl antialiased leading-relaxed text-gray-700"
    >
      {{ form_info.description }}
    </p>
  </div>

  <div class="float-end p-6 flex items-center justify-between">
    <div class="flex items-center -space-x-3">
      <mat-chip-set>
        @for (tag of form_info.tags | slice:0:2; track tag) {
        <mat-basic-chip
          class="bg-white inline-flex py-0.5 px-3 text-[#37517e] items-center justify-between text-base capitalize border-2 border-gray-500 rounded-full mb-2 mr-2"
        >
          <span class="capitalize lg:inline leading-5">{{ tag }}</span>
        </mat-basic-chip>
        }
      </mat-chip-set>
    </div>
    <p class="block text-base antialiased leading-relaxed">
      {{ form_info.begin }}
    </p>
  </div>
</div>
