<div class="overflow-auto inset-0 z-30">
  <div class="mx-auto bg-white rounded-xl shadow-md overflow-hidden">
    <button
      type="button"
      (click)="activeModal.dismiss('Cross click')"
      class="bg-white float-right m-2 rounded-md p-0.5 inline-flex border-2 border-black text-black hover:bg-gray-100"
    >
      <span class="sr-only">Close</span>
      <svg
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <div class="md:flex p-5 place-items-center">
      <div class="md:shrink-0 md:h-full md:w-[30rem] h-48 w-full">
        <img class="rounded" [src]="form_info.path" alt="" />
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-xl text-indigo-500 font-bold">
          {{ form_info.title }}
        </div>
        <div class="block mt-1 text-l leading-tight text-black">
          <strong> Start In: </strong>{{ form_info.begin }}
        </div>
        <div class="block mt-1 text-l leading-tight text-black">
          <strong> End In:</strong> {{ form_info.end }}
        </div>
        <div class="block mt-1 text-l leading-tight text-black">
          <strong> Hours Each Day:</strong>
          {{ form_info.hours }}
        </div>
        <div class="block mt-1 text-l leading-tight text-black">
          <strong> Location:</strong> {{ form_info.location }}
        </div>
        <div class="block mt-1 text-l leading-tight text-black">
          <strong>Description:</strong>
          <p class="mt-2 text-slate-500">{{ form_info.description }}</p>
        </div>
        <div class="block mt-3 text-l leading-tight">
          <mat-chip-set class="example-chip">
            @for (tag of form_info.tags ; track tag) {
            <mat-basic-chip
              class="bg-white inline-flex py-0.5 px-3 items-center justify-between text-[#37517e] text-base capitalize border-2 border-gray-500 rounded-full mb-2 mr-2"
            >
              <span class="capitalize lg:inline leading-5">{{ tag }}</span>
            </mat-basic-chip>
            }
          </mat-chip-set>
        </div>
      </div>
    </div>
  </div>
</div>
