<div class="overflow-auto inset-0 z-30">
  <div class="mx-auto flex flex-col bg-white rounded-xl -md overflow-hidden">
    <!-- Row -->
    <button
      type="button"
      (click)="activeModal.dismiss('Cross click')"
      class="bg-white absolute right-0 m-2 rounded-md p-0.5 inline-flex border border-black text-black hover:bg-gray-100"
    >
      <span class="sr-only">Close</span>
      <svg
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <div class="flex-row p-3 bg-white sm:flex-row md:flex-row lg:flex">
      <div class="w-full lg:w-1/2 px-10">
        <h3 class="pt-4 text-2xl font-semibold text-center">
          Bienvenue de retour !
        </h3>
        <form
          [formGroup]="formeSignIn"
          (ngSubmit)="signIn($event)"
          class="p-8 bg-white rounded"
        >
          <div class="mb-4" data-te-input-wrapper-init>
            <label
              class="block mb-2 text-sm font-bold text-gray-700"
              for="username"
            >
              Nom d'utilisateur
            </label>
            <input
              class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
              id="username"
              type="text"
              placeholder="Nom d'utilisateur"
              formControlName="username"
              [ngClass]="{
                'is-invalid': submittedIn && fI['username'].errors
              }"
            />
            <div
              *ngIf="submittedIn && fI['username'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="fI['username'].errors['required']">
                Le nom d'utilisateur est requis"
              </div>
              <div *ngIf="fI['username'].errors['minlength']">
                Le nom d'utilisateur doit contenir 6 caractères
              </div>
            </div>
          </div>
          <div class="mb-4" data-te-input-wrapper-init>
            <label
              class="block mb-2 text-sm font-bold text-gray-700"
              for="password"
            >
              Mot de passe
            </label>
            <input
              class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
              id="password"
              type="password"
              placeholder="******************"
              formControlName="password"
              [ngClass]="{
                'is-invalid': submittedIn && fI['password'].errors
              }"
            />
            <div
              *ngIf="submittedIn && fI['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="fI['password'].errors['required']">
                Le mot de passe est requis.
              </div>
              <div *ngIf="fI['password'].errors['minlength']">
                Le mot de passe doit contenir 6 caractères.
              </div>
            </div>
          </div>
          <!-- <div class="mb-4" data-te-input-wrapper-init>
            <input
              class="mr-2 leading-tight"
              type="checkbox"
              id="checkbox_id"
            />
            <label class="text-sm" for="checkbox_id"> Remember Me </label>
          </div> -->
          <div class="mb-6 text-center">
            <button
              class="w-full px-4 py-2 font-bold text-white bg-logo rounded-full hover:bg-logo focus:outline-none"
              type="submit"
            >
              Se connecter
            </button>
          </div>
          <hr class="mb-6 border-t" />

          <div class="text-center">
            <a
              (click)="openPopup()"
              class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
              href="#"
            >
              Mot de passe oublié ?
            </a>
          </div>
        </form>
      </div>
      <!-- MID -->
      <div
        class="flex sm:flex-row md:flex-row items-center lg:flex-col justify-center"
      >
        <div class="lg:flex sm:hidden md:hidden hidden items-center">
          <div class="border-l h-[15rem] lg:h-[15rem] border-blue-500"></div>
        </div>
        <div class="lg:hidden flex">
          <div class="border-b w-[10rem] border-blue-500"></div>
        </div>
        <div class="-space-x-2 overflow-hidden">
          <img
            class="inline-block h-19 w-20 my-2 rounded-full ring-2 ring-white"
            src="../../assets/images/logo-b.png"
            alt=""
          />
        </div>

        <div class="lg:flex sm:hidden md:hidden hidden items-center">
          <div class="border-l h-[15rem] lg:h-[15rem] border-blue-500"></div>
        </div>
        <div class="lg:hidden flex">
          <div class="border-b w-[10rem] border-blue-500"></div>
        </div>
      </div>
      <!-- MID -->
      <div class="w-full lg:w-7/12 px-10">
        <h3 class="pt-4 text-2xl font-semibold text-center">
          Créer un compte!
        </h3>
        <form
          [formGroup]="formeSignUp"
          (ngSubmit)="signUp($event)"
          class="p-8 bg-white rounded"
        >
          <div class="mb-4 md:flex md:justify-between">
            <div class="mb-4 md:mr-2 md:mb-0" data-te-input-wrapper-init>
              <label
                class="block mb-2 text-sm font-bold text-gray-700"
                for="firstName"
              >
                Prénom
              </label>
              <input
                class="w-full px-3 py-2 text-sm leading-tight border border-black text-gray-700 rounded appearance-none focus:outline-none"
                id="firstName"
                type="text"
                formControlName="firstName"
                placeholder=" Prénom"
                [ngClass]="{
                  'is-invalid': submittedUp && fU['firstName'].errors
                }"
              />
              <div
                *ngIf="submittedUp && fU['firstName'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="fU['firstName'].errors['required']">
                  Le prénom est requis.
                </div>
                <div *ngIf="fU['firstName'].errors['minlength']">
                  Le prénom doit contenir 6 caractères.
                </div>
              </div>
            </div>
            <div class="md:ml-2" data-te-input-wrapper-init>
              <label
                class="block mb-2 text-sm font-bold text-gray-700"
                for="lastName"
              >
                Nom
              </label>
              <input
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
                id="lastName"
                type="text"
                placeholder=" Nom"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid': submittedUp && fU['lastName'].errors
                }"
              />
              <div
                *ngIf="submittedUp && fU['lastName'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="fU['lastName'].errors['required']">
                  Le nom est requis.
                </div>
                <div *ngIf="fU['lastName'].errors['minlength']">
                  Le nom doit contenir 6 caractères.
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4" data-te-input-wrapper-init>
            <label
              class="block mb-2 text-sm font-bold text-gray-700"
              for="u_email"
            >
              Email
            </label>
            <input
              class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
              id="u_email"
              type="email"
              placeholder="Email"
              formControlName="u_email"
              [ngClass]="{ 'is-invalid': submittedUp && fU['u_email'].errors }"
            />
            <div
              *ngIf="submittedUp && fU['u_email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="fU['u_email'].errors['required']">
                L'e-mail est requis.
              </div>
              <div *ngIf="fU['u_email'].errors['email']">
                L'e-mail est invalide.
              </div>
            </div>
          </div>
          <div class="mb-4 md:flex md:justify-between">
            <div class="mb-4 md:mr-2 md:mb-0" data-te-input-wrapper-init>
              <label
                class="block mb-2 text-sm font-bold text-gray-700"
                for="u_Password"
              >
                Mot de passe
              </label>
              <input
                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
                id="u_Password"
                type="password"
                placeholder="******************"
                formControlName="u_Password"
                [ngClass]="{
                  'is-invalid': submittedUp && fU['u_Password'].errors
                }"
              />
              <div
                *ngIf="submittedUp && fU['u_Password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="fU['u_Password'].errors['required']">
                  Le mot de passe est requis.
                </div>
                <div *ngIf="fU['u_Password'].errors['minlength']">
                  Le mot de passe doit contenir 6 caractères.
                </div>
              </div>
            </div>
            <div class="md:ml-2" data-te-input-wrapper-init>
              <label
                class="block mb-2 text-sm font-bold text-gray-700"
                for="c_password"
              >
                Confirmer le mot de passe
              </label>
              <input
                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
                id="c_password"
                type="password"
                placeholder="******************"
                formControlName="c_password"
                [ngClass]="{
                  'is-invalid': submittedUp && fU['c_password'].errors
                }"
              />
              <div
                *ngIf="submittedUp && fU['c_password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="fU['c_password'].errors['required']">
                  Confirmer le mot de passe
                </div>
                <div *ngIf="fU['c_password'].hasError('passwordMismatch')">
                  Les mots de passe ne correspondent pas.
                </div>
              </div>
            </div>
          </div>
          <div class="mb-6 text-center">
            <button
              class="w-full px-4 py-2 font-bold text-white bg-logo rounded-full hover:bg-logo focus:outline-none"
              type="submit"
            >
              Créer un compte
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
