<div
  *transloco="let t"
  class="fixed top-0 z-10 h-auto w-full transition duration-500 rounded-b-2xl"
  [class.bg-logo]="isScrolled || showMenu"
>
  <nav
    class="mx-auto flex max-w-full items-center justify-between p-3 lg:px-8 relative flex-wrap px-2"
    aria-label="Global"
  >
    <div class="container mx-auto flex flex-wrap items-center justify-between">
      <div
        class="flex w-full relative justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"
      >
        <a href="/">
          <img
            class="h-20 w-auto"
            src=" {{ '../../assets/images/' + logo + '.png' }}"
            alt="logo"
          />
        </a>
        <button
          type="button"
          class="relative lg:hidden inline-flex items-center justify-center rounded-md p-2 text-black hover:text-white"
          [class.text-white]="isScrolled || showMenu"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="toggleNavbar()"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <svg
            class="block h-6 w-6"
            [ngClass]="{ hidden: showMenu, flex: !showMenu }"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>

          <svg
            class="hidden h-6 w-6"
            [ngClass]="{ hidden: !showMenu, flex: showMenu }"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="hidden text-black text-sm leading-6 lg:flex lg:gap-x-12 lg:flex-grow items-center"
        [class.text-white]="isScrolled || showMenu"
        [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      >
        <div class="flex flex-wrap lg:flex-row ml-auto">
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            (click)="click('home')"
            [ngClass]="{
              'bg-gray-700 text-white   ': activeSection === 'home'
            }"
            class="hover:bg-gray-700 m-3 hover:text-white rounded-md px-3 py-1"
            >{{ t("home.title") }}</a
          >

          <a
            routerLink="/training"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            (click)="click('training')"
            [ngClass]="{
              'bg-gray-700 text-white ': activeSection === 'training'
            }"
            class="hover:bg-gray-700 m-3 hover:text-white rounded-md px-3 py-1"
          >
            {{ t("training.title") }}
          </a>

          <a
            routerLink="/Contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            (click)="click('Contact')"
            [ngClass]="{
              'bg-gray-700 text-white ': activeSection === 'Contact'
            }"
            class="hover:bg-gray-700 m-3 hover:text-white rounded-md px-3 py-1"
          >
            {{ t("contact.title") }}
          </a>
          <button
            [class.border-white]="isScrolled || showMenu"
            (click)="openPopup()"
            class="hover:bg-gray-700 m-3 hover:text-white border border-black rounded-md px-3 py-1"
          >
            {{ t("login_register.title") }}
          </button>
          <div
            class="relative hover:bg-gray-700 m-3 hover:text-white rounded-md"
          >
            <button
              [class.border-white]="isScrolled || showMenu"
              class="flex items-center border border-black px-3 py-1 rounded-md focus:outline-none"
              (click)="toggleDropdown()"
            >
              <span>Language: {{ selectedLanguage }}</span>
              <svg
                class="ml-1 h-4 w-4 fill-current hover:text-white"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <div
              [class.border-white]="isScrolled || showMenu"
              *ngIf="isDropdownOpen"
              class="absolute top-8.8 right-0 w-auto border bg-logo border-black rounded-md shadow-md"
            >
              <div
                *ngFor="let language of languageOptions"
                (click)="changeLanguage(language)"
                class="p-2 cursor-pointer rounded-md hover:bg-gray-700 text-white"
              >
                {{ language }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <button
    type="button"
    data-te-ripple-init
    data-te-ripple-color="light"
    [ngClass]="{ hidden: !isScrolled, flex: isScrolled }"
    (click)="scrollToTop()"
    class="!fixed bottom-5 right-5 rounded-full bg-[#37517e] p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
    id="btn-back-to-top"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      class="h-4 w-4"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
    >
      <path
        fill="currentColor"
        d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
      ></path>
    </svg>
  </button>
</div>
