<button
  type="button"
  (click)="activeModal.dismiss('Cross click')"
  class="bg-white absolute right-0 m-2 rounded-md p-0.5 inline-flex border border-black text-black hover:bg-gray-100"
>
  <span class="sr-only">Close</span>
  <svg
    class="h-6 w-6"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"
    />
  </svg>
</button>
<div class="w-full px-10" *transloco="let t">
  <h3 class="pt-4 text-2xl font-semibold text-center">
    {{ t("FORGOT_PASSWORD.title") }}
  </h3>
  <form
    [formGroup]="formeFP"
    (ngSubmit)="send($event)"
    class="p-8 bg-white rounded"
  >
    <div class="mb-4" data-te-input-wrapper-init>
      <label class="block mb-2 text-sm font-bold text-gray-700" for="F_email">
        {{ t("email.title") }}
      </label>
      <input
        class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-black rounded appearance-none focus:outline-none"
        id="F_email"
        type="email"
        placeholder="{{ t('email.title') }}"
        formControlName="F_email"
        [ngClass]="{ 'is-invalid': submitted && f['F_email'].errors }"
      />
      <div *ngIf="submitted && f['F_email'].errors" class="invalid-feedback">
        <div *ngIf="f['F_email'].errors['required']">
          {{ t("REQUIRED_EMAIL.title") }}
        </div>
        <div *ngIf="f['F_email'].errors['email']">
          {{ t("INVALID_EMAIL.title") }}
        </div>
      </div>
    </div>

    <div class="mb-6 text-center">
      <button
        class="w-full px-4 py-2 font-bold text-white bg-logo rounded-full hover:bg-logo focus:outline-none"
        type="submit"
      >
        {{ t("SEND_TO_EMAIL.title") }}
      </button>
    </div>
  </form>
</div>
